@font-face {
  font-family: "iconfont"; /* Project id 4240507 */
  src: url('iconfont.woff2?t=1748488566832') format('woff2'),
       url('iconfont.woff?t=1748488566832') format('woff'),
       url('iconfont.ttf?t=1748488566832') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao:before {
  content: "\e62f";
}

.icon-paizhao1:before {
  content: "\e6b4";
}

.icon-lingmindu:before {
  content: "\e6b8";
}

.icon-chongwu:before {
  content: "\e60e";
}

.icon-chongwu1:before {
  content: "\e662";
}

.icon-chongwu_chongwu:before {
  content: "\e69b";
}

.icon-bangzhu:before {
  content: "\e61b";
}

.icon-update:before {
  content: "\e649";
}

.icon-bangzhu1:before {
  content: "\e620";
}

.icon-jinjilianxiren-:before {
  content: "\e696";
}

.icon-wifi:before {
  content: "\e693";
}

.icon-gujianshengji:before {
  content: "\e643";
}

.icon-jinjilianxiren:before {
  content: "\e60a";
}

.icon-jinjilianxiren1:before {
  content: "\e60c";
}

.icon-bangzhu2:before {
  content: "\e624";
}

.icon-bx-wifi:before {
  content: "\e6f6";
}

.icon-jinjilianxiren2:before {
  content: "\e60d";
}

.icon-a-0-2wifi:before {
  content: "\e7b2";
}

.icon-shengjibupin:before {
  content: "\e6fb";
}

.icon-transfer:before {
  content: "\e99d";
}

.icon-share:before {
  content: "\e615";
}

.icon-schedule:before {
  content: "\e616";
}

.icon-locale:before {
  content: "\e648";
}

.icon-round_transfer_fill:before {
  content: "\e810";
}

.icon-round_transfer:before {
  content: "\e812";
}

.icon-transfer-:before {
  content: "\e701";
}

.icon-transfer1:before {
  content: "\e741";
}

.icon-schedule2:before {
  content: "\e609";
}

.icon-transfer2:before {
  content: "\e607";
}

.icon-SCHEDULE:before {
  content: "\e7e9";
}

.icon-SCHEDULE1:before {
  content: "\e608";
}

.icon-access_alarms_px_rounded:before {
  content: "\ed64";
}

.icon-share1:before {
  content: "\e6ee";
}

.icon-locale1:before {
  content: "\e6a7";
}

.icon-share2:before {
  content: "\e67d";
}

.icon-alarm_step1:before {
  content: "\e604";
}

.icon-locale2:before {
  content: "\e61a";
}

.icon-ic_locale:before {
  content: "\eb7e";
}

.icon-share3:before {
  content: "\e841";
}

.icon-device-info:before {
  content: "\e62d";
}

.icon-transfer3:before {
  content: "\e654";
}

.icon-erweima:before {
  content: "\e602";
}

.icon-erweima1:before {
  content: "\e642";
}

.icon-erweima2:before {
  content: "\e74a";
}

.icon-erweima3:before {
  content: "\e623";
}

.icon-ico:before {
  content: "\e646";
}

.icon-duankailianjie:before {
  content: "\e7da";
}

.icon-duankailianjie1:before {
  content: "\e71a";
}

.icon-icon_duankai:before {
  content: "\e606";
}

.icon-guanlianduankai:before {
  content: "\e724";
}

.icon-lianjieduankai:before {
  content: "\e613";
}

.icon-icon-duankailianjie:before {
  content: "\e67f";
}

.icon-c058duankailianjie:before {
  content: "\e605";
}

.icon-duankai:before {
  content: "\e75c";
}

.icon-duankailianjie04-F:before {
  content: "\e63e";
}

.icon-duankailianjie03-F:before {
  content: "\e63f";
}

.icon-duankailianjie04-L:before {
  content: "\e640";
}

.icon-shebeiguanli:before {
  content: "\e60b";
}

.icon-shebeiguanli1:before {
  content: "\e603";
}

.icon-pc-check:before {
  content: "\e6d0";
}

.icon-iconfontscan:before {
  content: "\e601";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-saoma1:before {
  content: "\e712";
}

.icon-saoma2:before {
  content: "\e995";
}

.icon-weixin:before {
  content: "\e632";
}

.icon-logo-wechat:before {
  content: "\e619";
}

.icon-weixin1:before {
  content: "\e73b";
}

.icon-shaixuan:before {
  content: "\e641";
}

.icon-shaixuan1:before {
  content: "\e692";
}

.icon-shaixuan2:before {
  content: "\e67c";
}

.icon-shouji:before {
  content: "\e600";
}

.icon-shibai:before {
  content: "\e617";
}

.icon-pingban:before {
  content: "\e647";
}

.icon-kongjilu:before {
  content: "\e612";
}

.icon-xiaolian:before {
  content: "\e702";
}

.icon-pingban--:before {
  content: "\e614";
}

.icon-bluetoothon:before {
  content: "\e697";
}

.icon-bluetooth_search:before {
  content: "\e933";
}

.icon-konghezi:before {
  content: "\e90a";
}

.icon-S_AID_taishifenxi:before {
  content: "\e6c5";
}

